body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0b0c10;
    color: #c5c6c7;
    text-align: center;
}

.index-wrapper {
    display: flex;
    z-index: 1;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    text-align: center;
    background-color: #0b0c10; 
}
.index-wrapper h1 {
    color: #66fcf1;
    font-size: 3rem;
    text-shadow: 0 0 5px #66fcf1, 0 0 10px #45a29e;
    margin-bottom: 15px;
}

.index-wrapper h2 {
    color: #45a29e;
    font-size: 1.8rem;
    text-shadow: 0 0 5px #45a29e;
    margin-bottom: 20px;
}

.index-wrapper p {
    font-size: 1.2rem;
    color: #4e8892;
    margin-bottom: 30px;
}

.container {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 100px;
  max-width: 1000px;
  text-align: center;
  background: rgba(20, 20, 30, 0.85);
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.3);
}

header {
    background-color: #1f2833;
    color: #66fcf1;
    padding: 15px;
}

header h1 {
    margin: 10px 0;
    font-size: 1.8rem;
}

nav a {
    color: #45a29e;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #66fcf1;
}

#map {
    height: 85vh;
    width: 100%;
    border: 2px solid #26669b;
}

/* popup for the photo */
#photo-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(20, 20, 20, 0.95);
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #45a29e;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    transition: all 0.3s ease;
}

#photo-popup.active {
    transform: translate(-50%, -50%) scale(1);
}

#photo-img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

button {
    background: #45a29e;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #66fcf1;
}

/* buyoancy sim */
#buoyancy-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#astronaut {
    width: 100px;
    transition: transform 0.5s ease;
}

.controls {
    margin-top: 20px;
}

.controls button {
    margin: 0 10px;
}

